<div class="fzy">
  <nz-radio-group [(ngModel)]="size">
    <label nz-radio-button nzValue="large">Large</label>
    <label nz-radio-button nzValue="default">Default</label>
    <label nz-radio-button nzValue="small">Small</label>
  </nz-radio-group>
  <div>value is  {{size}}</div>
</div>

<div>
  <a nz-dropdown [nzDropdownMenu]="menu">
    Hover me
    <i nz-icon nzType="down"></i>
  </a>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu nzSelectable>
      <li nz-menu-item><a routerLink="/">home</a></li>
      <li nz-menu-item><a routerLink="/a">aaaa</a></li>
      <li nz-menu-item><a routerLink="/b">bbbb</a></li>
    </ul>
  </nz-dropdown-menu>
<div style="border: 1px solid #ccc; padding: 20px;">
  <div>router-outlet:</div>
  <router-outlet></router-outlet>
</div>
</div>